<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yandan.dao.ProjectInfoDao">
    <select id="getPageProjectInfos" parameterType="java.util.Map" resultType="ProjectInfo">
        select * from project_info
        <where>
            <foreach collection="paramMap.entrySet()" item="value" index="key" separator="and">
                <if test="!(&quot;start&quot;.equals(key)||&quot;size&quot;.equals(key))">
                    ${key} like concat('%', #{value}, '%')
                </if>
            </foreach>
        </where>
        limit #{paramMap.start} , #{paramMap.size}
    </select>
    <select id="getProjectInfoCounts" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from project_info
        <where>
            <foreach collection="paramMap.entrySet()" item="value" index="key" separator="and">
                ${key} = #{value }
            </foreach>
        </where>
    </select>
    <insert id="insertProjectInfo" parameterType="java.util.Map">
        insert into project_info values(#{paramMap.id},#{paramMap.projectId},#{paramMap.initialCost},
        null,#{paramMap.registrationId},#{paramMap.status},null)
    </insert>
    <delete id="deleteProjectInfos" parameterType="java.util.List">
        delete from project_info where id in
        <foreach collection="ids" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="updateProjectInfo" parameterType="java.util.Map" >
        update project_info set
        <foreach collection="paramMap.entrySet()" index="key" item="value" separator=",">
            <if test="!(&quot;id&quot;.equals(key))">
                ${key} =#{value}
            </if>
        </foreach>
        where id=#{paramMap.id}
    </update>
</mapper>